body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.selector-buttons {
	text-align: left;
}
.next-to {
	display: inline-block;
}

.big-icon {
	font-size: 80px;
}

.voting {
	margin-left: 200px;
	margin-right: 200px;
}